In [1]:
import pandas as pd

/var/folders/c2/l58_pxzx2tqb1lr7wlj_xt7h0000gn/T/ipykernel_36932/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [16]:
df = pd.read_csv("dataset_mood_smartphone.csv")
df

        Unnamed: 0       id                     time        variable   value
0                1  AS14.01  2014-02-26 13:00:00.000            mood   6.000
1                2  AS14.01  2014-02-26 15:00:00.000            mood   6.000
2                3  AS14.01  2014-02-26 18:00:00.000            mood   6.000
3                4  AS14.01  2014-02-26 21:00:00.000            mood   7.000
4                5  AS14.01  2014-02-27 09:00:00.000            mood   6.000
...            ...      ...                      ...             ...     ...
376907     2770399  AS14.30  2014-04-11 07:51:16.948  appCat.weather   8.032
376908     2772465  AS14.30  2014-04-19 11:00:32.747  appCat.weather   3.008
376909     2774026  AS14.30  2014-04-26 10:19:07.434  appCat.weather   7.026
376910     2774133  AS14.30  2014-04-27 00:44:48.450  appCat.weather  23.033
376911     2784435  AS14.32  2014-04-07 18:25:14.036  appCat.weather  22.431

[376912 rows x 5 columns]

In [20]:
# Pivot the table so that each variable becomes a column
pivoted_df = df.pivot_table(index=['id', 'time'], columns='variable', values='value')
pivoted_df

variable                         activity  appCat.builtin  \
id      time
AS14.01 2014-02-17 12:04:42.394       NaN             NaN
        2014-02-17 18:28:25.520       NaN             NaN
        2014-02-18 09:29:51.257       NaN             NaN
        2014-02-19 14:43:30.575       NaN             NaN
        2014-02-19 17:29:10.378       NaN             NaN
...                                   ...             ...
AS14.33 2014-05-30 22:32:05.016       NaN             NaN
        2014-05-30 22:32:11.049       NaN           3.122
        2014-05-30 22:32:14.240       NaN           1.003
        2014-05-30 22:32:15.246       NaN           4.134
        2014-05-31 12:00:00.000       NaN             NaN

variable                         appCat.communication  appCat.entertainment  \
id      time
AS14.01 2014-02-17 12:04:42.394                   NaN                   NaN
        2014-02-17 18:28:25.520                   NaN                   NaN
        2014-02-18 09:29:51.257                   NaN                   NaN
        2014-02-19 14:43:30.575                   NaN                   NaN
        2014-02-19 17:29:10.378                   NaN                   NaN
...                                               ...                   ...
AS14.33 2014-05-30 22:32:05.016                   NaN                   NaN
        2014-05-30 22:32:11.049                   NaN                   NaN
        2014-05-30 22:32:14.240                   NaN                   NaN
        2014-05-30 22:32:15.246                   NaN                   NaN
        2014-05-31 12:00:00.000                   NaN                   NaN

variable                         appCat.finance  appCat.game  appCat.office  \
id      time
AS14.01 2014-02-17 12:04:42.394             NaN          NaN            NaN
        2014-02-17 18:28:25.520             NaN          NaN            NaN
        2014-02-18 09:29:51.257             NaN          NaN            NaN
        2014-02-19 14:43:30.575             NaN          NaN            NaN
        2014-02-19 17:29:10.378             NaN          NaN            NaN
...                                         ...          ...            ...
AS14.33 2014-05-30 22:32:05.016             NaN          NaN            NaN
        2014-05-30 22:32:11.049             NaN          NaN            NaN
        2014-05-30 22:32:14.240             NaN          NaN            NaN
        2014-05-30 22:32:15.246             NaN          NaN            NaN
        2014-05-31 12:00:00.000             NaN          NaN            NaN

variable                         appCat.other  appCat.social  appCat.travel  \
id      time
AS14.01 2014-02-17 12:04:42.394           NaN            NaN            NaN
        2014-02-17 18:28:25.520           NaN            NaN            NaN
        2014-02-18 09:29:51.257           NaN            NaN            NaN
        2014-02-19 14:43:30.575           NaN            NaN            NaN
        2014-02-19 17:29:10.378           NaN            NaN            NaN
...                                       ...            ...            ...
AS14.33 2014-05-30 22:32:05.016           NaN            NaN            NaN
        2014-05-30 22:32:11.049           NaN            NaN            NaN
        2014-05-30 22:32:14.240           NaN            NaN            NaN
        2014-05-30 22:32:15.246           NaN            NaN            NaN
        2014-05-31 12:00:00.000           NaN            NaN            NaN

variable                         appCat.unknown  appCat.utilities  \
id      time
AS14.01 2014-02-17 12:04:42.394             NaN               NaN
        2014-02-17 18:28:25.520             NaN               NaN
        2014-02-18 09:29:51.257             NaN               NaN
        2014-02-19 14:43:30.575             NaN               NaN
        2014-02-19 17:29:10.378             NaN               NaN
...                                         ...               ...
AS14.33 2014-05-30 22:32:05.016             NaN             6.019
        2014-05-30 22:32:11.049             NaN               NaN
        2014-05-30 22:32:14.240             NaN               NaN
        2014-05-30 22:32:15.246             NaN               NaN
        2014-05-31 12:00:00.000             NaN               NaN

variable                         appCat.weather  call  circumplex.arousal  \
id      time
AS14.01 2014-02-17 12:04:42.394             NaN   1.0                 NaN
        2014-02-17 18:28:25.520             NaN   1.0                 NaN
        2014-02-18 09:29:51.257             NaN   1.0                 NaN
        2014-02-19 14:43:30.575             NaN   1.0                 NaN
        2014-02-19 17:29:10.378             NaN   1.0                 NaN
...                                         ...   ...                 ...
AS14.33 2014-05-30 22:32:05.016             NaN   NaN                 NaN
        2014-05-30 22:32:11.049             NaN   NaN                 NaN
        2014-05-30 22:32:14.240             NaN   NaN                 NaN
        2014-05-30 22:32:15.246             NaN   NaN                 NaN
        2014-05-31 12:00:00.000             NaN   NaN                -2.0

variable                         circumplex.valence  mood  screen  sms
id      time
AS14.01 2014-02-17 12:04:42.394                 NaN   NaN     NaN  NaN
        2014-02-17 18:28:25.520                 NaN   NaN     NaN  NaN
        2014-02-18 09:29:51.257                 NaN   NaN     NaN  NaN
        2014-02-19 14:43:30.575                 NaN   NaN     NaN  NaN
        2014-02-19 17:29:10.378                 NaN   NaN     NaN  NaN
...                                             ...   ...     ...  ...
AS14.33 2014-05-30 22:32:05.016                 NaN   NaN     NaN  NaN
        2014-05-30 22:32:11.049                 NaN   NaN     NaN  NaN
        2014-05-30 22:32:14.240                 NaN   NaN     NaN  NaN
        2014-05-30 22:32:15.246                 NaN   NaN     NaN  NaN
        2014-05-31 12:00:00.000                 1.0   7.0     NaN  NaN

[358926 rows x 19 columns]